.contact-card {
  position: relative;
  text-align: center;
}
.contact-card__action {
  margin-bottom: 1.5rem;
}
.contact-card__action-btn {
  background-color: var(--color-primary-bg);
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
}
.contact-card__icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-bg);
  border: 5px solid #ffffff50;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 38px;
  padding: 10px;
  border-radius: 50%;
}
