.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 13px;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-social > a,
.footer-social > a:hover {
  text-decoration: none;
  color: var(--color-secondary);
}
