.page-title {
  font-family: "Jersey";
  text-align: center;
  font-size: 7vw;
  margin: 0px;
  padding: 150px 0px 50px 0px;
  color: var(--color-primary);
}
@media only screen and (max-width: 877px) {
  .page-title {
    font-size: 10vw;
    padding-top: 100px;
  }
}
@media only screen and (max-width: 603px) {
  .page-title {
    font-size: 15vw;
  }
}
