@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Jersey";
  font-weight: 400;
  src: url("/Jersey/Jersey10-Regular.ttf");
}
:root {
    --color-primary-bg: #e2e2ff;
  --color-primary: #4b4b7f;
  --color-secondary: #7e7ea4;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Roboto", "Inter";
  background-color: #e2e2ff;
  color: var(--color-secondary);
}
body > div#root {
  position: relative;
}
